div{
    background-image: url(old.jpg);
    padding-top:50px;
    width :700px;
    height:600px;
    margin:auto;

}
body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:black;
    background-color:#E4F9F5 ;
}

img{
    width: 200px; 
    height:250px;
    margin-top:30px;

}

h1{
    font-size: 5rem;
    font-family: 'Allura', cursive;
    text-shadow: 1px 1px;
}
p{

    font-size: 1.5rem;
    display: inline-block;
    position:relative;
    left: 40%;
    top:80%;
    padding:0;
}
